@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  p{
    @apply sm:text-base text-sm;
  }
  h2{
    @apply font-medium lg:text-[26px] sm:text-xl text-[13px];
  }
  ol{
    @apply list-decimal sm:ml-5 ml-[14px];
  }
  ul + li{
    @apply md:mt-3 md:text-sm text-[12px] my-1 md:ml-3 ml-3 relative before:absolute before:md:top-[10px] before:top-[7px] before:md:-left-3 before:-left-3 before:w-1 before:h-1 before:bg-dark before:rounded-full;
  }
}

body {
  font-family: "Montserrat";
  background-color: #e7e7e7;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  margin-left: 13px;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0.25px solid #000;
  border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
  background-image: url(../src/img/checkbox.png);
  background-size: cover;
  border: none;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"] + label {
  display: inline-block;
  position: relative;
  margin-left: 12px;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 100%;
  margin-left: -20px;
  margin-right: 8px;
}

input[type="radio"]:checked + label:before {
  background-image: url(../src/img/radio.jpeg);
  background-size: cover;
}
